langchain==0.0.354
langchain-experimental==0.0.47
pydantic==1.10.13
fschat~=0.2.35
openai~=1.9.0
fastapi~=0.109.0
sse_starlette~=1.8.2
nltk~=3.8.1
uvicorn>=0.27.0.post1
starlette~=0.35.0
unstructured[all-docs]~=0.12.0
python-magic-bin; sys_platform == 'win32'
SQLAlchemy~=2.0.25
faiss-cpu~=1.7.4
accelerate~=0.24.1
spacy~=3.7.2
PyMuPDF~=1.23.16
rapidocr_onnxruntime~=1.3.8
requests~=2.31.0
pathlib~=1.0.1
pytest~=7.4.3
llama-index==0.9.35
pyjwt==2.8.0
httpx==0.26.0
httpx_sse==0.4.0

dashscope==1.13.6
arxiv~=2.1.0
youtube-search~=2.1.2
duckduckgo-search~=3.9.9
metaphor-python~=0.1.23
watchdog~=3.0.0
# volcengine>=1.0.119
# pymilvus>=2.3.4
# psycopg2==2.9.9
# pgvector>=0.2.4
# chromadb==0.4.13

# jq==1.6.0
# beautifulsoup4~=4.12.2
# pysrt~=1.1.2

