setuptools>=38.5.1
humanfriendly
scipy>=1.4.1
librosa
jamo
PyYAML>=5.1.2
soundfile>=0.12.1
h5py>=3.1.0
kaldiio>=2.17.0
torch_complex
nltk>=3.4.5
sentencepiece
jieba
rotary_embedding_torch
ffmpeg
pypinyin>=0.44.0
espnet_tts_frontend
pytorch_wpe
editdistance>=0.5.2
tensorboard
g2p
nara_wpe
oss2
edit-distance
textgrid
protobuf
tqdm
hdbscan
umap
torchaudio
funasr
modelscope
textrank4zh