numpy~=1.24.4
pandas~=2.0.3
streamlit>=1.27.2
streamlit-option-menu>=0.3.6
streamlit-antd-components>=0.2.3
streamlit-chatbox==1.1.10
streamlit-aggrid>=0.3.4.post3
httpx>=0.25.0
nltk>=3.8.1
watchdog
websockets
