langchain
transformers
unstructured[local-inference]
"detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.6#egg=detectron2
layoutparser[layoutmodels,tesseract]
nltk
sentence-transformers
